/*
    paginator.css

    Description: Defines basic styling and the default theme for paginator.js
	Version:     0.0.1
	Author:      Ossama Edbali
*/

/* === BASIC STYLING === */
.paginator-page {
    display: none;
}

.paginator-page.paginator-active {
    display: block;
}

.paginator-wrapper {
    text-align: center;
}

.paginator-wrapper .paginator-link {
    text-decoration: none;
    margin-right: 10px;
}

.paginator-wrapper .paginator-link:last-child {
    margin-right: 0;
}

.paginator-wrapper .paginator-link.paginator-active {
    text-decoration: underline;
}

/* === DEFAULT THEME === */